<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>食品在线商城</title>
<link href="static/qiantai/images/css.css" rel="stylesheet" type="text/css" />
   


</head>

<body>


<div class="head">
  <div th:if="${session?.user!=null}">
    欢迎你<a th:text="${session?.user.name}" style="color: #dd3e3e"></a><a th:href="@{logout}">退出登录</a>
  </div>
  <div th:if="${session?.user==null}">
    游客欢迎您</a><a th:href="@{login}">登录</a>
  </div>
</div>
<div class="nav"><ul>
  <li><a href="index.html">首页</a></li>
  <li><a href="goods3.html">商品页面</a></li>
  <li><a th:href="@{/shippingshow(id=${session?.user.id})}">我的购物车</a></li>
  <li><a href="cart.html">我的订单</a></li>
</ul></div>
<div class="main">
<div class="info">
  <div class="pic"><img src="static/qiantai/images/11.jpg" width="638" height="428" /></div><div class="xx">
    <div>
      <div class="tit">奥利奥
        <!--add by becky 20130409 商品英文名称-->
        </div>
   
      <div>商品编号：1</div>
    </div>
    <div id="goods_detailed_price">
      <div>价格：<span id="goodsPrice">7.5</span>元<span id="goods_site_init"></span></div>
    </div>
    <!--<div id="goodsBargain">    			</div>-->


        <div>
        <br />

          <div>数量： <input id="quantity_306687" maxlength="2" size="3" value="1" name="quantity_306687" /></div>
          <br />
<div id="tj">
  加入购物车
</div>
         
          <div>
         
          </div>
        </div>
      </div>
    </div>
    <div id="add_shop_cart">
      <div onclick="general_cart.add('postID_306687', 'quantity_306687',1);" uid="102193"></div>
    </div>
  </div> <div class="clear"></div></div>

  <div class="clear"></div>
</div>

<div class="foot"></div>

</body>
</html>
